<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Services:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Service.Name" />
            <ValidationMessage For="@(() => Service.Name)" />
         </div>
        <label>Description:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Service.Description" />
            <ValidationMessage For="@(() => Service.Description)" />    
        </div>
        <label>Price:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="@Service.Price" />
                <ValidationMessage For="@(() => Service.Price)" />
            </div>
    </div>

    <button class="btn btn-primary" type="submit">SaveChanges</button>
    <button class="btn btn-success" @onclick="ReturnAction">Return</button>
</EditForm>

